<style>
    .body404 {
        background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3lueG1taXJibXdmcDg4c2NieDRoZ2hpZGQ2MHUwODEzajlvcjJsaCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xThuW5hx4pqxPdDEAM/giphy.webp");
        background-size: cover;
    }

    .audio404 {
        display: block;
        width: 100%;
        opacity: 50%;
        background-color: transparent;
    }
</style>

<body class="body404">
    <div class="row">
        <aside class="col-md-3">
            <h1>ERROR 404</h1>
            <hr>
            <audio autoplay controls loop class="audio404">
                <source
                    src="https://upload.wikimedia.org/wikipedia/commons/c/c2/Old-bell-system-intercept-recording.ogg"
                    type="audio/ogg">
            </audio>
        </aside>
        <section class="main col-md-9">
            <article>
                <h1>
                    We're sorry...
                </h1>
                <hr>
                <p>
                    you have reached a webpage that has been removed or has never existed. If you
                    feel you have reached this webpage in error, please check the URL and try your search
                    again.
                </p>
            </article>
        </section>
    </div>
</body>