<div class="container" style="padding-top: 90px;">
    <div class="row">
        <aside class="col-md-3">
            <h2>Coming Soon</h2>
            <p>To a city near you! Every single Hollywood film every made that had a trailer with that trailer guy
                that seems to have disappeared from recent movie
                trailers. Where'd he go? Nobody knows.
            </p>
        </aside>
        <section class="main col-md-9">
            <article>
                <h2>About</h2>
                <p>
                    This the about section of the about page. This page is about being about this assignment, which
                    currently is the fourth one for WEB 322.
                </p>
                <p>
                    I'm not sure if I'll have to update this with actual meaningful content in the later
                    assignments, but if I don't then, I'll only update this
                    page by changing the ordinal for the assignment.
                </p>
                <p>
                    Fun fact: The Lorem Ipsum text is actually some text that was written by Cicero that's been
                    altered to be incromprehensible from Latin. You can read up on it on
                    Wikipedia if you'd like.
                </p>

                <a href="https://en.wikipedia.org/wiki/Lorem_ipsum"
                    target="_blank">https://en.wikipedia.org/wiki/Lorem_ipsum</a>
                <p>
                    I'm tempted to make that link to a rickroll, but I don't feel like doing that.
                </p>
                <p>
                    I've decided to get rid of the tables here since this website isn't big
                    enough for two tables here. They duelled it out at high noon and the items one
                    won; and the duel definitely wasn't rigged to begin with.
                </p>
            </article>
        </section>
    </div>
</div>